<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>게시판</title>
</head>

<body>
    <th:block layout:fragment="content">
        <h1 class="mt-5 mb-3">게시판</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <!-- 예시 데이터 -->
                <tr>
                    <td>1</td>
                    <td><a href="/board/1">첫 번째 게시글입니다.</a></td>
                    <td>테스터</td>
                    <td>2026-01-16</td>
                </tr>
                <!-- 게시글 루프 -->
                <tr th:each="board, stat : ${boardList}">
                    <td th:text="${stat.count}"></td>
                    <!-- <td th:text="${board.boardId}"></td> -->
                    <td><a th:href="@{/board/{boardId}(boardId=${board.boardId})}" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.insertDate, 'yyyy-MM-dd')}"></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-end">
            <a href="/board/writePage" class="btn btn-primary">글쓰기</a>
        </div>
    </th:block>
</body>
</html>
<script>


</script>