<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.community.community.notice.mapper.NoticeMapper">
  <select id = "findAll" parameterType="com.community.community.notice.dto.NoticeRequestDto" resultType="com.community.community.notice.dto.NoticeResponseDto">
  	SELECT
  		notice_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		views,
  		insert_date,
  		update_date
  	FROM NOTICE
  	WHERE 1=1
  	<if test="title != '' and title != null">
  	AND title LIKE CONCAT('%', #{title}, '%')
  	</if>
  </select>
  
  </mapper>