<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.community.community.notice.mapper.NoticeMapper">
  <select id="findAll" parameterType="com.community.community.notice.dto.NoticeRequestDto" resultType="com.community.community.notice.dto.NoticeResponseDto">
  	/* 전체 리스트 조회 */
  	SELECT
  		notice_id,
  		community_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		views,
  		use_yn,
  		insert_user,
  		insert_date,
  		update_user,
  		update_date
  	FROM notice
  	WHERE use_yn = "Y"
  	<if test="keyword != null and keyword != ''">
  		AND (title LIKE CONCAT('%', #{keyword}, '%') OR detail LIKE CONCAT('%', #{keyword}, '%'))
  	</if>
  	<if test="startDate != null and startDate != ''">
  		AND insert_date &gt;= #{startDate}
  	</if>
  	<if test="endDate != null and endDate != ''">
  		AND insert_date &lt;= CONCAT(#{endDate}, ' 23:59:59')
  	</if>
  	ORDER BY 
        <choose>
            <when test="sortField == 'title'">title</when>
            <when test="sortField == 'writer'">writer</when>
            <when test="sortField == 'views'">views</when>
            <otherwise>insert_date</otherwise>
        </choose>
        <if test="sortOrder == 'asc'">ASC</if>
        <if test="sortOrder == 'desc'">DESC</if>
  	LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="countAll" parameterType="com.community.community.notice.dto.NoticeRequestDto" resultType="int">
      /* 조회된 리스트 수 확인 */
      SELECT COUNT(*)
      FROM notice
      WHERE use_yn = "Y"
      <if test="keyword != null and keyword != ''">
  		AND (title LIKE CONCAT('%', #{keyword}, '%') OR detail LIKE CONCAT('%', #{keyword}, '%'))
  	</if>
  	<if test="startDate != null and startDate != ''">
  		AND insert_date &gt;= #{startDate}
  	</if>
  	<if test="endDate != null and endDate != ''">
  		AND insert_date &lt;= CONCAT(#{endDate}, ' 23:59:59')
  	</if>
  </select>
  
  <select id="findByNoticeId" parameterType="Long" resultType="com.community.community.notice.dto.NoticeResponseDto">
  	/* 상세로 들어가기 윈한 Notice 조회 */
  	SELECT
  		notice_id,
  		community_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		views,
  		use_yn,
  		insert_user,
  		insert_date,
  		update_user,
  		update_date
  	FROM notice
  	WHERE use_yn = "Y"
  	AND notice_id = #{noticeId}
  </select>
  
  <insert id="save" useGeneratedKeys="true"	keyProperty="noticeId">
  	/* Notice 신규 등록 */
  	insert into notice 
  	(
  		community_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		use_yn,
  		views,
  		insert_user,
  		insert_date
  	) 
  	values
  	(
  		2,
  		#{writer},
  		#{title},
  		#{writer},
  		#{detail},
  		'Y',
  		0,
  		#{writer},
  		now()
  	)
  </insert>
  
  <update id="updateView" parameterType="Long">
  	update notice
  	set views = views + 1
  	where notice_id = #{noticeId}
  </update>
  
  <update id="updateNoticeStatus" parameterType="com.community.community.notice.dto.NoticeRequestDto">
  	UPDATE notice
  	SET
  		use_yn = #{useYn}
  	WHERE notice_id = #{noticeId}
  </update>
  
  <update id="updateNotice" parameterType="com.community.community.notice.dto.NoticeRequestDto">
  	UPDATE notice
  	SET
  		title = #{title},
  		detail = #{content}
  	WHERE notice_id = #{noticeId}
  </update>
  
  <select id="findByIdForAdmin" parameterType="Long" resultType="com.community.community.notice.dto.NoticeResponseDto">
  	/* 상세로 들어가기 윈한 Notice 조회 (관리자용, useYn 무시) */
  	SELECT
  		notice_id,
  		community_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		views,
  		use_yn,
  		insert_user,
  		insert_date,
  		update_user,
  		update_date
  	FROM notice
  	WHERE notice_id = #{noticeId}
  </select>
  
  
</mapper>