<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.community.community.attachments.mapper.AttachmentsMapper">
	<insert id="save" parameterType="com.community.community.attachments.dto.AttachmentsRequestDto">
		INSERT INTO attachment (
			<if test="noticeId != null || noticeId != ''">
			notice_id,
			</if>
			<if test="boardId != null || boardId != ''">
			board_id,
			</if>
			file_name,
			file_path,
			file_size,
			use_yn,
			insert_user,
			insert_date
		) VALUES (
			<if test="noticeId != null || noticeId != ''">
			#{noticeId},
			</if>
			<if test="boardId != null || boardId != ''">
			#{boardId},
			</if>
			#{fileName},
			#{filePath},
			#{fileSize},
			'Y',
			#{insertUser},
			NOW()
		)
	</insert>
	
	<select id="findByRefIdAndType" resultType="com.community.community.attachments.dto.AttachmentsResponseDto">
		SELECT
			attachment_id AS attachmentId,
			notice_id AS noticeId,
			board_id AS boardId,
			file_name AS fileName,
			file_path AS filePath,
			file_size AS fileSize
		FROM
			attachment
		WHERE
			use_yn = 'Y'
			<if test="boardType == 'notice'">
			AND notice_id = #{refId}
			</if>
			<if test="boardType == 'board'">
			AND board_id = #{refId}
			</if>
	</select>
	
	<select id="findById" resultType="com.community.community.attachments.dto.AttachmentsResponseDto">
		SELECT
			attachment_id AS attachmentId,
			notice_id AS noticeId,
			board_id AS boardId,
			file_name AS fileName,
			file_path AS filePath,
			file_size AS fileSize
		FROM
			attachment
		WHERE
			attachment_id = #{attachmentId}
			AND use_yn = 'Y'
	</select>
	
	<select id="findAllByPostId" resultType="com.community.community.attachments.dto.AttachmentsResponseDto">
		SELECT
			attachment_id AS attachmentId,
			notice_id AS noticeId,
			board_id AS boardId,
			file_name AS fileName,
			file_path AS filePath,
			file_size AS fileSize
		FROM
			attachment
		WHERE
			notice_id = #{postId}
			AND use_yn = 'Y'
	</select>
</mapper>