<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>메인 화면</title>
    <style>
        .main-container {
            text-align: center;
            margin-top: 5rem;
        }
        .main-container h1 {
            margin-bottom: 30px;
        }
        .main-container .btn {
            margin: 10px;
            width: 200px;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="main-container">
        <h1>환영합니다!</h1>
        <p>무엇을 도와드릴까요?</p>
        <div>
            <a href="/user/loginPage" class="btn btn-primary btn-lg">로그인</a>
            <a href="/notice/list" class="btn btn-info btn-lg">공지사항</a>
            <a href="/board/list" class="btn btn-success btn-lg">게시판</a>
            <a href="/admin/dashboard" class="btn btn-danger btn-lg">관리자</a>
        </div>
    </div>
</div>

</html>