<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.community.community.board.mapper.BoardMapper">
  <select id = "findAll" parameterType="com.community.community.board.dto.BoardRequestDto" resultType="com.community.community.board.dto.BoardResponseDto">
  	SELECT
  		board_id,
  		user_id,
  		title,
  		writer,
  		detail,
  		views,
  		insert_date,
  		update_date
  	FROM BOARD
  	WHERE 1=1
  	<if test="title != '' and title != null">
  	AND title LIKE CONCAT('%', #{title}, '%')
  	</if>
  	ORDER BY insert_date DESC
  	LIMIT #{pageSize} OFFSET #{offset}
  </select>

  <select id="findById" parameterType="int" resultType="com.community.community.board.dto.BoardResponseDto">
    SELECT
        board_id,
        user_id,
        title,
        writer,
        detail,
        views,
        insert_date,
        update_date
    FROM BOARD
    WHERE board_id = #{id}
  </select>
  
  <insert id="save" parameterType="com.community.community.board.dto.BoardRequestDto">
    INSERT INTO BOARD (title, writer, detail, insert_date)
    VALUES (#{title}, #{writer}, #{detail}, NOW())
  </insert>
  
  <select id="countAll" parameterType="com.community.community.board.dto.BoardRequestDto" resultType="int">
      SELECT COUNT(*)
      FROM BOARD
      WHERE 1=1
      <if test="title != '' and title != null">
      AND title LIKE CONCAT('%', #{title}, '%')
      </if>
  </select>
  
  </mapper>